html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  color: white;
  line-height: 1;
  font-family: Poppins;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  position: relative;
  z-index: 200;
  padding: 0 15px;
  max-width: 1760px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1760px) {
  .container {
    max-width: 1470px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.s1, .s2, .s3, .s4 {
  width: 100%;
  height: 100vh;
  background: url("../img/bg_hero.png") no-repeat;
  background-size: cover;
  position: relative;
}

.s2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 29, 38, 0)), color-stop(61.38%, #0B1D26));
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}

.s3, .s4 {
  background: #0B1D26;
}

.hg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20%;
  left: 0;
  background: url("../img/hg.png") no-repeat;
  background-size: cover;
  opacity: .4;
}

.mg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background: url("../img/mg.png") no-repeat;
  background-size: cover;
  opacity: 1;
}

.vg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  background: url("../img/vg.png") no-repeat;
  background-size: cover;
  opacity: 1;
}

.header {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .header {
    padding-top: 10px;
  }
}

.logo {
  text-decoration: none;
}

.logo img {
  display: inline-block;
  min-width: 100%;
}

@media (max-width: 767.98px) {
  .logo {
    display: none;
  }
}

.menu__icon {
  display: none;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 200;
  position: relative;
}

.menu__icon span {
  top: 8px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu__icon span:first-child {
  top: 0px;
}

.menu__icon span:last-child {
  top: auto;
  bottom: 0px;
}

.menu__icon.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: black;
}

.menu__icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.menu__icon.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
}

@media (max-width: 479.98px) {
  .menu__icon {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin-right: 40px;
}

.menu__list li:last-child {
  margin-right: 0;
}

@media (max-width: 479.98px) {
  .menu__list li {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (max-width: 479.98px) {
  .menu__list {
    display: block;
    position: fixed;
    width: 100%;
    height: 6%;
    top: 0;
    left: -110%;
    background-color: #fff;
    margin-left: 0px;
    color: #000000;
    max-width: none;
    padding: 20px 10px 20px 10px;
    text-align: center;
    overflow: auto;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .menu__list.active {
    left: 0;
  }
}

.menu__link {
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.menu__link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.menu__link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login img {
  margin-right: 10px;
  display: inline-block;
  max-width: 100%;
}

.login__link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.hero {
  padding-top: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.social__text {
  font-size: 1.1rem;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
  font-weight: 500;
}

.social__img {
  display: inline-block;
  margin-bottom: 24px;
}

.social__img:last-child {
  margin-bottom: 0;
}

.title {
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 767.98px) {
  .title {
    padding-left: 10px;
  }
}

.title__top {
  max-width: 316px;
  text-transform: uppercase;
  color: #FBD784;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 6px;
  line-height: 22px;
  position: relative;
}

@media (max-width: 767.98px) {
  .title__top {
    font-size: 0.9rem;
  }
}

.title__top::before {
  content: "";
  width: 72px;
  height: 2px;
  background: #FBD784;
  position: absolute;
  top: -15px;
  left: 0px;
}

@media (max-width: 767.98px) {
  .title__top::before {
    width: 50px;
  }
}

.title__title {
  margin: 28px 0;
  font-weight: 500;
  font-size: 2.7rem;
  line-height: 50px;
  text-transform: capitalize;
  max-width: 610px;
}

@media (max-width: 767.98px) {
  .title__title {
    font-size: 1.7rem;
    max-width: 400px;
  }
}

.title__bot {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.title__bot::after {
  content: '';
  background: url("../img/arrow.svg") no-repeat;
  position: absolute;
  width: 16px;
  height: 24px;
  top: 0;
  left: 120px;
}

.block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  position: relative;
}

@media (max-width: 767.98px) {
  .info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.info-s3 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 767.98px) {
  .info-s3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 550px;
}

.info__top {
  max-width: 270px;
}

.info__top-s3 {
  max-width: 350px;
}

.info__top-s4 {
  max-width: 450px;
}

.info__title {
  margin: 27px 0;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 40px;
  color: #FFFFFF;
  position: relative;
}

@media (max-width: 767.98px) {
  .info__title {
    font-size: 1.7rem;
  }
}

.info__title-s2::before {
  content: '01';
}

.info__title-s3::before {
  content: '02';
}

.info__title-s4::before {
  content: '03';
}

.info__title::before {
  font-size: 10rem;
  color: #ffffff;
  position: absolute;
  top: -50px;
  left: -100px;
  opacity: .2;
}

@media (max-width: 992.98px) {
  .info__title::before {
    font-size: 6rem;
    left: -10px;
    top: -70px;
  }
}

.info__text {
  font-size: 1.1rem;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 27px;
}

@media (max-width: 767.98px) {
  .info__text {
    font-size: 0.8rem;
  }
}

.info__bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FBD784;
  position: relative;
  text-decoration: none;
  position: relative;
}

.info__bot::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: url("../img/01.jpg") no-repeat;
  background-size: contain;
  background-position: center center;
  padding-bottom: 40%;
}

.image-s3 {
  background: url("../img/02.jpg") no-repeat;
  background-size: contain;
}

.image-s4 {
  background: url("../img/03.jpg") no-repeat;
  background-size: contain;
}

@media (max-width: 767.98px) {
  .image {
    display: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
  background: #0B1D26;
}

.footer__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column:last-child {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .footer__column:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 767.98px) {
  .footer__column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 10px;
  }
}

.footer__logo img {
  display: inline-block;
  max-width: 100%;
}

.footer__text {
  margin: 24px 0 122px;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 32px;
  max-width: 320px;
}

@media (max-width: 767.98px) {
  .footer__text {
    margin-bottom: 40px;
  }
}

.footer__copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
}

.footer__list-title {
  color: #FBD784;
}

.footer__list {
  margin-top: 24px;
}

.footer__list li {
  margin-bottom: 16px;
}

.footer__list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .footer__list li {
    -ms-flex-preferred-size: 8px;
        flex-basis: 8px;
  }
}

.footer__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 30px;
  position: relative;
}

.footer__link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer__link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
