/////////////////////////////////////////////////////////////////
$minwidth: 320px;
$mw: 1760px;
$md1: $mw;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
/////////////////////////////////////////////////////////////////
.wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}
/////////////////////////////////////////////////////////////////
.container {
  position: relative;
  z-index: 200;
  padding: 0 15px;
  max-width: $mw;
  min-width: $minwidth;
  width: 100%;
  margin: 0 auto;
  @media (max-width: $md1) {max-width: 1470px;}
  @media (max-width: $md2+px) {max-width: 750px;}
  @media (max-width: $md3+px) {max-width: none; padding: 0 10px;}
}

/////////////////////////////////////////////////////////////////